*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {

    
    width: 70px; 
    height: auto; 
}

.flex {

    max-width: 1280px;
    margin: 0 auto;
}

header {

    width: 100%;
    padding: 40px 0;
}

ul {
    list-style-type: none;
  }

  header .flex {

    display: flex;
   justify-content: space-around;
  }

  ul li a {
    text-decoration: none;
    color: black;
  }

  header nav ul li  {

    display: inline-block;
    margin:  0 40px;
    margin-top: 1rem;
    font-size: 2rem;
    
  }
