*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {

    
    width: 70px; 
    height: auto; 
}

.flex {

  max-width: 1280px;
  margin: 0 auto;
}

header {

    width: 100%;
    padding: 40px 0;
}

ul {
    list-style-type: none;
  }

  header .flex {

    display: flex;
   justify-content: space-around;
  }

  ul li a {
    text-decoration: none;
    color: black;
  }

  header nav ul li  {

    display: inline-block;
    margin:  0 40px;
    margin-top: 1rem;
    font-size: 2rem;
    
  }

  h1 {

    color: dodgerblue;
    margin-left: 5rem;
    margin-top: 7rem;
    font-size: 3rem;
  }

  .historia img{

    width: 20rem;
    
    margin-left: 4rem;
    height: 15rem;

  margin-top: 2rem; 
 border-top-left-radius: 2rem;
 border-bottom-right-radius: 2rem;
  }

  .turismo img {

    width: 20rem;
    margin-left: 6rem;
    margin-top: 2rem;  
    height: 15rem;
  }

  .cultura img {

  width: 20rem;
  margin-left: 6rem;
  margin-top: 2rem;  
  height: 15rem;
  border-top-right-radius: 2rem;
  }

  .imagens  {

    display: flex;
  


    
    
  }

  .historia h2 {
    margin-left: 11rem;
    margin-top: 1rem;
}

.turismo h2 {

margin-left: 13rem;
margin-top: 1rem;
}

.cultura h2 {

  margin-left: 14rem;
  margin-top: 1rem;
 
}

.imagens h3 {
 text-align: center;

}
.historia h3 {
  margin-left: 3rem;
}

.turismo h3 {

  margin-left: 6rem;
}

.cultura h3 {
  margin-left: 8rem;
}
 



  